/* import */ 

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*resset*/

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: helvetica, sans-serif;
}

/*general*/

a {
    text-decoration: none;
    color: rgb(237, 236, 234);
}

ul {
    list-style: none;
}

/*index grid desktop*/

.grid_index {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 87vh 5vh;
    grid-template-areas:    "a1"
                            "a2"
                            "a3";
}

.index_header {
    grid-area: a1;
}

.index_main {
    grid-area: a2;
}

.index_footer {
    grid-area: a3;
}

/* nav */

.nav {
    height: 100%;
}

.div_nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(237, 236, 234);
}

/*logo*/

.div_logo {
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: center;
}

.div_logo img {
    height: 100%;
}

.div_logo:hover {
    animation-name: scale;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/*links*/

.div_links {
    display: flex;
    height: 100%;
    width: 65%;
    align-items: flex-end;  
    justify-content: center;   
}

.div_links ul {
    display: flex;
    height: 75%;
    width: 90%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.div_links li {
    display: flex;
    background-color:rgb(30, 30, 30);
    width: 18%;
    align-items: center;  
    justify-content: center;  
    transition: 0.3s ease all;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.div_links li::after {
    content: "";
    background-color: rgb(242, 178, 17);
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: -6.1vh;
    left: 0px;
    transition: 0.2s ease-in-out all;
}

.list_links li a {
    display: block;
    text-align: center;
    padding-top: 8%;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    z-index: 2;
    transition: 0.3s ease all;
    color: rgb(215, 209, 195);
}

.list_links li a:hover {
    padding-bottom: 2vh;
    z-index: 2;
    transition: 0.2s ease all;
    color: rgb(0, 0, 0);
}

.div_links li:hover::after {
    bottom: 0vh;
}

/*rrss*/

.div_rrss {
    display: flex;
    height: 100%;
    width: 35%;
    align-items: center;  
    justify-content: center;   
}

.div_rrss ul {
    display: flex;
    height: 50%;
    width: 90%;
    margin: 0;
    justify-content: space-between;
}

.div_rrss li {
    display: flex;
    height: 100%;
    width: 23%;
    justify-content: center;

}

.div_rrss img {
    display: flex;    
    height: 100%; 
}

.div_rrss img:hover {
    animation-name: scale;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/*Banner*/

.banner {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/principal_img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner::before {
    content: "";
    background: rgba(215, 209, 195, 0.126);
    position: absolute;
    height: 100%;
    width: 100%;
}

.banner_div {
    display: flex;
    flex-direction: column;    
    height: 40%;
    width: 50%; 
    margin-right: 1%; 
    justify-content: center;
    align-items: center;     
    text-align: center;
    background: linear-gradient(90deg, rgba(40, 40, 40, 0), rgba(40, 40, 40, 0.893), rgb(38, 38, 38), rgb(20, 20, 20));
    position: relative;
}

.banner h1 {
    font-size: 3.5rem;
    color: rgb(242, 178, 17);
}

.banner h2 { 
    font-size: 1.5rem;
    color: rgb(242, 178, 17);
}

.index_button {
    margin-top: 2vh;
}

.button {
    height: 6vh;
    width: 10vw;
    border-radius: 0px;
    border-width: 0px;
    background-color: rgb(242, 178, 17);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(30, 30, 30);
    border-width: 1px;
    border-color: rgb(242, 178, 17);
    color: rgb(242, 178, 17);
}

/* footer */

.div_footer {
    display: flex;
    height: 100%;
    width: 100%; 
    align-items: center;   
    background-color:rgb(237, 236, 234);    
}

.div_footer ul {
    display: flex;
    width: 80%;  
    margin: 0;
    padding: 0;
    justify-content: space-around;      
}

.div_footer li {
    width: 18%;  
    text-align: center;  
    color: rgb(114, 85, 85);       
}

.div_footer span {
    width: 20%;  
    font-size: 0.5rem;
    text-align: center;
    color: rgb(114, 85, 85);     
}

.div_footer a {
    font-size: 0.5rem;  
    color: rgb(114, 85, 85);
}


/*galery grix desktop*/

.grid_galery {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 87vh 5vh;
    grid-template-areas:    "a1"
                            "a2"
                            "a3";
}

.galery_header {
    grid-area: a1;
}

.galery_main {
    grid-area: a2;
}

.galery_footer {
    grid-area: a3;
}


/*galery title*/

.principal_div_galery {
    position: relative;
    display: flex;
    justify-content: center;
}


.div_title {
    display: flex;
    height: 15vh;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    align-items: center;
    color: rgb(242, 178, 17);
    font-size: 1.5rem;
    position: absolute;
    z-index: 2;
    background: linear-gradient(180deg, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0));
}

/*carrusel*/

.carrusel {
    position: relative;   
    z-index: 1; 
}


.div_galery {
    height: 87vh;   
    overflow: hidden;
    position: relative; 
}

.div_carrusel {
    height: 100%;
    width: 100%;  
    position: relative;
    display: flex;
    justify-content: center;
}

/* cards */

.div_cards {
    height: 100%;
}

.div_cards img {
    height: 100%;
    width: 100vw;
    filter: brightness(50%);
}

.album_description {
    position: absolute;
    bottom: 3vh;
    width: 75%;
    text-align: center;
    background: linear-gradient(0deg, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0));
    color: rgba(255, 255, 255, 0.459);
}

.album_description h2 {
    padding-top: 2vh;
    font-weight: 900;
    text-transform: uppercase;
}

.album_description p {
    margin: 2vh;
}

.divmark_01 {
    height: 2vh;
    width: 75%;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: flex-start;
}

.divmark_02 {
    height: 2vh;
    width: 75%;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: center;
}

.divmark_03 {
    height: 2vh;
    width: 75%;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: flex-end;
}

#mark_01 {
    height: 100%;
    width: 33%;
    background-color: rgb(237, 237, 237);
    margin-right: 3px;
}

#mark_02 {
    height: 100%;
    width: 33%;
    background-color: rgb(237, 237, 237);
    margin-left: 3px;
    margin-right: 3px;
}

#mark_03 {
    height: 100%;
    width: 33%;
    background-color: rgb(237, 237, 237);
    margin-left: 3px;
}

/* arrows */

.div_arrows {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.div_arrows i {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.416);
}

.div_arrows i:hover{
    color: rgba(255, 255, 255, 0.893);
}


/* contador */

.div_principalcounter{
    display: flex;
    position: absolute;
    width: 100vw;
    bottom: 2px;
    align-items: center;
    justify-content: center;
}

.div_counterimg {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_counterimg a {
    height: 2vh;
    width: 33%;
    background-color: rgba(218, 218, 218, 0.219);
}

.carrusel_divicon {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.416);
}

/*us grid desktop*/

.grid_us {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh auto 5vh;
    grid-template-areas:    "a1"
                            "a2"
                            "a3";
}

.us_header {
    grid-area: a1;
}

.us_main {
    grid-area: a2;
    margin: 0;
    padding: 0;
}

.us_footer {
    grid-area: a3;
}

/* presentation */

.main_client_div {
    display: flex;
    justify-content: center;
}

.us_presentation_div {
    display: flex;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../img/presentation_img.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: 0 10px 20px rgb(0, 0, 0), 
    0 6px 6px rgba(0, 0, 0, 0.822);
}

.us_presentation_div::before {
    content: "";
    background: rgba(215, 209, 195, 0.541);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.us_title {
    width: 100%;
    font-size: 3rem;
    z-index: 2;
    color: rgb(38, 38, 38);
}

.us_subtitle {
    width: 100%;   
    z-index: 2; 
    color: rgb(38, 38, 38);
}

.us_description {
    display: flex;
    flex-direction: column;
    width: 70%;
    z-index: 2;
    padding: 1%;
    color: black;
}

.us_presentation_div i {
    font-size: 2rem;
    color: rgb(38, 38, 38);
    position: absolute;
    z-index: 1;
    bottom: 2vh;
}

/* us title */

.our_team_title_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    text-align: center;
    background-color: rgb(30, 30, 30);  
}

.our_team_title_div i {
    font-size: 2rem;
    display: none;
}

.our_team_title {
    width: 100%;
    font-size: 3rem;  
    color: rgba(215, 209, 195, 0.68);
}

/* staff */

.our_team_div {
    display: flex;
    height: 70vh;
    background-color: rgba(29, 29, 29, 0.952);
}

.staff_member_div {
    display: flex;
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30); 
}

.staff_member_description_div {
    width: 90%;
}

.staff_member_name {
    text-align: center;
    color: rgba(242, 178, 17, 0.475);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.staff_member_position {
    text-align: center;
    color: rgba(215, 209, 195, 0.397);   
}

.staff_member_description {
    text-align: justify;
    font-size: 0.7rem;
    color: rgba(215, 209, 195, 0.644);  
    padding: 5%;
}

.staff_member_img_div {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.staff_member_img_div img {
    width: 80%;
    height: 32vh;
    filter: grayscale(100%);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.416), 0 6px 6px rgba(0, 0, 0, 0.416);  
}

.staff_member_rrss_div {
    height: 6vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.staff_member_rrss_list {
    display: flex;
    margin: 0;
    margin-top: 4vh;
    padding: 0;
    justify-content: space-evenly;
    height: 75%;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.staff_member_rrss_list li {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.staff_member_rrss_list img {
    height: 100%;
}

.next_member i {
    color: rgba(215, 209, 195, 0.68);
    display: none;
    margin-top: 12vh;
    font-size: 2rem;
}

::-webkit-scrollbar {
    width: 0;
}

/* client */

.grid_client {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh auto 5vh;
    grid-template-areas:    "a1"
                            "a2"
                            "a3";
}

.client_header {
    grid-area: a1;
}

.client_main {
    grid-area: a2;
}

.client_footer {
    grid-area: a3;
}

/* client general */

.client_title_div {
    display: flex;
    align-items: center;
    height: 22vh;
    justify-content: center;
    margin-bottom: 0;
    background-color: rgb(242, 178, 17); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);      
}

.client_title_div h2 {
    font-size: 3rem;
}

/* client marks */

.divmark_01client {
    height: 2vh;
    width: 75%;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: flex-start;
}

.divmark_02client {
    height: 2vh;
    width: 75%;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: center;
}

.divmark_03client {
    height: 2vh;
    width: 75%;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: flex-end;
}

#mark_01client {
    height: 100%;
    width: 33%;
    background-color: rgb(237, 237, 237);
    margin-right: 3px;
}

#mark_02client {
    height: 100%;
    width: 33%;
    background-color: rgb(237, 237, 237);
    margin-left: 3px;
    margin-right: 3px;
}

#mark_03client {
    height: 100%;
    width: 33%;
    background-color: rgb(237, 237, 237);
    margin-left: 3px;
}

/* form grid desktop */

.grid_contact {
    background-color: rgb(237, 236, 234);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh auto 5vh;
    grid-template-areas:    "a1"
                            "a2"
                            "a3";
}

.contact_div {
    display: flex;
}

.div_title_form {
    display: flex;
    height: 15vh;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    align-items: center;
    color: rgb(242, 178, 17);
    font-size: 1.5rem;
    background-color: rgb(30, 30, 30);
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:  rgb(242, 178, 17);
    height: 72vh;
    padding: 5vh;
}

.form_div {
    width: 50%;
}

label {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.input {
    border-radius: 3px;
    border: none;
    width: 90%;
    height: 5vh;
    text-align: center;
    margin-bottom: 2vh;
}

textarea {
    border-radius: 3px;
    border: none;
    width: 90%;
    height: 15vh;
    text-align: center; 
    resize: none;   
}

.radio {
    border: 0;
    display: flex;
    font-size: 0.5rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 50%;
}

.radio-button {
    display: flex;
    flex-direction: column-reverse;
}

.fieldset_div_button {
    display: flex;
    border: 0;
}

fieldset {
    border: 0;
}

.div_button_form {
    width: 50%;
}

.button_form1 {
    height: 6vh;
    width: 10vw;
    border-radius: 0px;
    border-width: 0px;
    background-color: rgb(30, 30, 30);
    color:  rgb(242, 178, 17);
    cursor: pointer;
    margin-left: 2vh;
    margin-right: 2vh;
}

.button_form2 {
    height: 6vh;
    width: 10vw;
    border-radius: 0px;
    border-width: 1px;
    border-color: rgb(30, 30, 30);
    background-color: rgb(242, 178, 17);
    cursor: pointer; 
    margin-left: 2vh;
    margin-right: 2vh;   
}

.button_form1:hover {
    background-color: rgb(224, 224, 224);
    color: rgb(30, 30, 30);
}

.button_form2:hover {
    background-color: rgb(224, 224, 224);
    color: rgb(30, 30, 30);
    border: none;
}   

/* ubication */

.data_title {
    font-size: 1.5rem;
    margin: 2vh;
    text-transform: uppercase;
}

.contact_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: rgb(30, 30, 30);
    padding: 2vh;
    margin-bottom: 1vh;
}

.contact_data_div {
    background-color: rgb(237, 236, 234);
    width: 50%;
}

.ubication_map_div {
    height: 49vh;
}

iframe {
    height: 100%;
    width: 100%;
}

/* animations */

@keyframes scale {

    0% { 
        transform: scale(1);
    }

    100% { 
        transform: scale(1.1);
    }
}


/*media queri mobile*/

@media (max-width: 600px) {


    /* index grid mobile */

    .grid_index {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh 100vh 25vh;
        grid-template-areas:    "a1"
                                "a2"
                                "a3";
    }

    /* nav mobile */

    .div_nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    /* logo  mobile */

    .div_logo {
        height: 50%;
        width: 100%;
    }

    /* links  mobile */

    .div_links {
        height: 25%;
        width: 100%;
        align-items: center;
    }

    /* rrss  mobile */

    .div_rrss {
        display: flex;
        height: 25%;
        width: 100%;
    }

    .div_rrss ul {
        height: 75%;
        justify-content: center;
    }

    .div_rrss li {
        width: 20%;
        justify-content: center;
    }

    /*banner mobile*/
    
    .banner {
        flex-direction: column;
        justify-content: space-around;
    }

    .banner_div {
        width: 100%;
        margin: 0;  
        background: none;      
    }

    .button {
        width: 25vw;
        font-size: 1.5rem;
    }
    
    /* footer mobile */

    .div_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .div_footer ul {
        display: flex;
        height: 80%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .div_footer li {
        width: 25%; 
    }

    /* galery mobile */

    .grid_galery {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh 100vh 25vh;
        grid-template-areas:    "a1"
                                "a2"
                                "a3";
    }

    .div_title h1 {
        text-align: center;
        font-size: 3rem;
    }

    .div_galery {
        height: 100vh;   
    }

    /* us grid mobile */

    .grid_us {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh auto 25vh;
        grid-template-areas:    "a1"
                                "a2"
                                "a3";
    }

    /*team*/

    .us_presentation_div {
        height: 75vh;
    }

    .us_description {
        width: 90%;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(33, 33, 33);
        font-size: 1.5rem;
    }

    .us_presentation_div i {
        display: none;
    }

    .our_team_div {
        flex-direction: column;
        height: auto;
    }

    .our_team_title_div i {
        display: block;
        margin-top: 2vh;
        color: rgba(215, 209, 195, 0.68);
    }

    .staff_member_div {
        justify-content: center;
        height: 100vh;
        margin-bottom: 2px;
    }

    .staff_member_description {
        text-align: justify;
        font-size: 1.5rem;
    }

    .staff_member_rrss_list {
        margin-top: 4vh;
        height: 100%;
    }

    .next_member i {
        display: block;
    }
    
    /* client grib mobile */

    .grid_client {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh auto 25vh;
        grid-template-areas:    "a1"
                                "a2"
                                "a3";
    }

    .client_premiation {
        display: none;
    }

    /* contact grib mobile */

    .grid_contact {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh auto 25vh;
        grid-template-areas:    "a1"
                                "a2"
                                "a3";
    }

    .contact_data_title {
        font-size: 5vh;
    }

    .contact_div {
        flex-direction: column;
    }

    .form_div {
        width: 100%;
    }

    form {
        height: 85vh;
    }


    .contact_data_div {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact_data {
        text-align: center;
        width: 90%;
    }

    .ubication_map_div {
        width: 90%;       
    }

    .form_label {
        width: 90%;
    }

    .comments_form_label {
        width: 90%;
    }
    
    .input {
        width: 100%;
    }

    textarea {
        width: 100%;        
    }

    .radio {
        font-size: 1rem;
        width: 100%;
    }

    .radio label {
        text-align: center;
    }
    
    .radio-button input {
        width: 100%;
        height: 1.5rem;
    }

    .div_button_form {
        width: 100%;
    }
    
    .button_form1 {
        width: 25vw;   
    }

    .button_form2 {
        width: 25vw;   
    }

}