@import "variables";

/* Contact */

.contact__div {
    display: flex;
}

.contact__title {
    display: flex;
    height: 15vh;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    align-items: center;
    color: $principal-color;
    font-size: 1.5rem;
    background-color: $secondary-color;
}   

/* ubication */

.contact {
    background-color: $complementary-color;
    width: 50%;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        color: $secondary-color;
        padding: 2vh;
        margin-bottom: 1vh;

        &__title {
            font-size: 1.5rem;
            margin: 2vh;
            text-transform: uppercase;
        }
    }
}

.ubication_map_div {
    height: 49vh;
}

iframe {
    height: 100%;
    width: 100%;
}

/*media queri mobile*/

@media (max-width: 600px) {

    /* contact mobile */

    .contact__div {
        flex-direction: column;
    }

    .contact {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px $secondary-color;

        &__data {
            text-align: center;
            width: 90%;
    
            &__title {
                font-size: 5vh;
            }
        }
    
    }

    .ubication_map_div {
        width: 90%;       
    }

}