@import "variables";

/* footer */

.div_footer {
    display: flex;
    height: 100%;
    width: 100%; 
    align-items: center;   
    background-color: $complementary-color;
    
    ul {
        display: flex;
        width: 80%;  
        margin: 0;
        padding: 0;
        justify-content: space-around;      
    }

    li {
        width: 18%;  
        text-align: center;  
        color: rgb(114, 85, 85);       
    }

    span {
        width: 20%;  
        font-size: 0.5rem;
        text-align: center;
        color: rgb(114, 85, 85);     
    }

    a {
        font-size: 0.5rem;  
        color: rgb(114, 85, 85);
    }
    
}

/*media queri mobile*/

@media (max-width: 600px) {

    /* footer mobile */

    .div_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        ul {
            display: flex;
            height: 80%;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        li {
            width: 45%; 
        }

        h1 {
            text-align: center;
            font-size: 3rem;
        }

        a {
            font-size: 0.75rem;  
        }

        span {
            font-size: 0.75rem;
        }
    }
}